extends layout

block content
  h1= title
  p Welcome to #{title}
  input#userName(type='text' placeholder="Enter ur name")
  div#timer
  .camera
    video#video Video stream not available.
    button#startbutton Take photo
    button#fs-btn(onclick='appFS()') FScreen
  canvas#canvas
  .output
    img#photo(alt='The screen capture will appear in this box.')
  .pixel
  

