doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/kiosk.css')
  body#app-body(oncontextmenu="getContextMenu(event)" contextmenu="contextmenu")
    block content
  script(src='/javascripts/jquery-3.2.1.min.js')
  script(src='http://huddle.github.io/Resemble.js/resemble.js')
  script(src='/javascripts/script.js')
  script(src='/javascripts/kiosk.js')

  contextMenu#sss
