body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.camera > #video {
  display: none;
}

canvas {
  /*display: none;*/
}

.output {
  display: none;
}

a {
  color: #00B7FF;
}
